:root {
    --footer-text: rgba(131, 111, 111, 0.725) !important;
    --mail-icon: rgba(197, 179, 179, 0.85) !important;
    --contact-links-background: rgba(19, 15, 15, 0.425);
}

.contact-section{
    display: flex;
    width: max-content;
    height: max-content;
    justify-content: center;
}
.contact-links-container {
    display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
    margin: auto;
    padding-top: 2em;
    width: 100vw;
}
.contact-link-row {
    display: flex;
        justify-content: center;
    margin: auto;
    width: 100vw;
}
.contact-page-icons {
    display: inline-flex;
    margin: auto 2em 2em;
}
#linkedin2 {
    width: 2.6em;
    height: 2.45em;
}
#github2 {
    width: 3em;
    height: 3em;
}
#email2 {
    width: 2.8em;
    height: 3em;
}
#logo2 {
    width: 2.95em;
    height: 2.95em;
}


/* media query
#linkedin2 {
    width: 4.85em;
    height: 4.75em;
    position: relative;
        top: 0.5em;
}
#github2 {
    width: 5.5em;
    height: 5.45em;
}
#email2 {
    width: 5.25em;
    height: 5.5em;
}
#logo2 {
    width: 5.5em;
    height: 5.5em;
} */
