

.project-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	height: 15em;
	margin: 1em;
	background-color: rgba(49, 52, 58, 0.725);
}
.thumbnail {
	display: flex;
	margin: auto;
	height: 12em;
	width: 15em;
}


h5 {
	color: rgb(255, 255, 255);
	margin: auto 0.25em;
	padding: 0.35em;
	flex-shrink: 3;
	font-size: 1em;
	font-weight: 600;
	word-wrap: break-word;
	position: relative;
	height: 2em;

}
