/* PAGE FOOTER STYLE */
:root {
    --footer-text: rgba(131, 111, 111, 0.719) !important;
    --footer-text-hover: rgba(197, 179, 179, 0.85) !important;
}
.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    padding: 2em;
    justify-content: space-evenly;
    font-size: .65em;
    background-color: rgb(36, 32, 32);
    width: 100vw;
}
.footer-text,
a.footer-text {
    display: flex;
    padding: 7px;
    color: var(--footer-text);
    text-decoration: none;
}
.follow {
    margin-right: 10px;
}
.icon-links {
    display: flex;
    position: relative;
    left: 3px;
    bottom: 5px;
    font-size: 12px;
}
.follow-link {
    display: flex;
    padding: 5px;
    color: var(--footer-text);
}
a.footer-text:hover,
.follow-link:hover {
    color: var(--footer-text-hover);
    transition: all 0.5s ease-in-out;
}
