#home-header {
	background-image: url(../../images/home/portfolio-hero-fade.JPG);
	background-size: cover;
	background-position: center;
	height: 60vh;
	margin: 0;
	width: 100vw;
}
#header-img-transition {
	background-image: url(../../images/home/header-img-mirror.JPG);
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 18vh;
}
#welcome-text {
	height: 25vh;
	background-color: black;
	color: whitesmoke;
	font-family: 'Montserrat', sans-serif;
	font-size: 5em;
	display: flex;
	justify-content: center;
	/* add animation */
}
