:root {
	--line1: rgba(228, 216, 216, 0.85);
	--line2: rgba(197, 179, 179, 0.85);
	--line3: rgba(165, 145, 145, 0.85);
	--line4: rgba(131, 111, 111, 0.85);

	--btn: rgb(6,17, 37);
	--btn-txt: rgb(175, 126, 126);
	--btn-border: rgb(75, 62, 61);

	--btn-hover: rgb(37, 52, 78);
	--btn-txt-hover: rgb(214, 166, 166);
	--btn-border-hover: rgb(102, 85, 85);
}

#home-header {
	/* background-image: url(../../images/home/portfolio-hero-fade.JPG);
	background-size: cover;
	background-position: center; */
	width: 100vw;
	margin: 0;
  	padding: 0;
	display: flex;
}
#hero-mirror {
	/* background-image: url(../../images/home/header-img-mirror.JPG);
	background-size: cover;
	background-position: center; */
	width: 100vw;
	margin: 0;
  	padding: 0;
	display: flex;
}
.home-main {
	background-color: black;
	padding-bottom: 5em;
	height: max-content;
}

.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.greeting-text {
	height: 5em;
	/* font-family: 'Montserrat', sans-serif; */
	font-size: 1.5em;
	letter-spacing: -0.06em;
	padding: 0.15em 1em;
	line-height: 0.5em;
	display: flex;
	flex-direction: column;
	flex-shrink: 2;
	margin: 0.5em;
		/* add animation */
}
	span#line1 {
		color: var(--line1);
		position: relative;
			right: 0.1em;
		white-space: nowrap;
		display: flex;
		flex-shrink: 2;
	}
	span#line2 {
		color: var(--line2);
		white-space: nowrap;
		display: flex;
		flex-shrink: 2;
	}
	span#line3 {
		color: var(--line3);
		white-space: nowrap;
		display: flex;
		flex-shrink: 2;
	}
	span#line4 {
		color: var(--line4);
		white-space: nowrap;
		display: flex;
		flex-shrink: 2;
	}
.main-btns-wrapper {
	margin: 0em 0.5em 1em 0.5em;
	padding-bottom: 4.5em;
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	/* flex-wrap: nowrap; */
}
.main-btns {
	height: 4em;
	width: 10em;
	padding: auto;
	margin: 0 0.5em 0.5em 0.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--btn-txt);
	background-color: var(--btn);
	border-color: var(--btn-border);
	border-style: double double inset outset;
	border-width: 0.475em 0.475em 0.25em 0.25em;
	transition: all 0.25s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.015s;
	white-space: nowrap;
	text-decoration: none;
}
.main-btns:hover {
	color: var(--btn-txt-hover);
	background-color: var(--btn-hover);
	border-color: var(--btn-border-hover);
	border-width: 0.5em 0.5em 0.3em 0.3em;
	border-style: double double ridge groove;
	font-size: 0.779em;
	/* transform: translate(-0.05em, 0.025em); */
}
span.btn-txt {
	text-decoration: none;
}
#contact-me,
#see-work {
	font-size: 0.9em;
	font-weight: 600;
	vertical-align: super;
	transform: scale();
}
.guillemet {
	font-size: 2em;
	font-weight: 300;

	/* vertical-align: ; */


}
