:root {
    --nav-link: rgba(192, 179, 197, 0.75);
    --nav-link-hover: rgb(194, 185, 199);
}

.nav-wrapper {
    background-color: black;
    margin: 0;
    padding: 0;
    height: max-content;
    z-index: 500;
}
.nav {
    background-color: black;
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0.5em;
}
.nav-link {
    color: var(--nav-link);
    display: flex;
    padding: 0.25em 0.5em;
    margin: auto;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
    .nav-link:link {
        color: var(--nav-link);
    }
    .nav-link:visited {
        color: var(--nav-link);
    }
    .nav-link:hover,
    .nav-link:focus {
        color: var(--nav-link-hover);
    }
