:root {
    --footer-text: rgba(131, 111, 111, 0.725) !important;
    --mail-icon: rgba(197, 179, 179, 0.85) !important;
    --contact-links-background: rgb(19, 15, 15);
}

.contact-links {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--contact-links-background);
}

.mail-icon {
    height: 1.5em;
    width: 1.5em;
    margin: 0.25em 1.5em 0.25em 1.5em;
    display: flex;
    opacity: 0.7;
}
.mail-icon:hover {
    opacity: 1;
    transition: all 0.25s ease-in-out;
}
