* {
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.App {
  background-color: black;
  font-family: 'Calibri', sans-serif;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.page-body {
  font-size: 1.15em;
  font-weight: 400;
  line-height: 1.15em;
  height: 100%;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.page-header {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -0.06em;
  padding: 0.4em 0.15em;
  height: 1em;
  display: flex;
  margin: 0.15em;
}
